@font-face {
  font-family: 'HAMBH___-webfont';
  src: url('./font/HAMBH___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BBTreeGB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
