$z-index: (
  background: 9,
  contents: 10,
  modal: 11,
  floatting: 12,
);

$full: 100 * 1%;

/* color template */
$color-bg: #1d1d1d;
$color-title: #ffffd9;
$color-line-1: #ff6038;
$color-line-2: #ffb400;
$color-line-3: #00a388;
$color-line-4: #005ab3;
$color-line-5: #8100ff;

@mixin flex-box($width: 100%, $height: 100%, $direction: column) {
  width: $width;
  height: $height;

  display: flex;
  flex-direction: $direction;

  align-items: center;
  justify-content: center;
}
