@import '../../styles/index';

.tooltip {
  @include flex-box(40vw, 65vh);

  justify-content: flex-start;

  background-color: rgba($color-bg, 0.8);
  border: solid 2px $color-title;

  font-size: 0.5em;
  font-family: 'BBTreeGB';

  & div {
    @include flex-box(90%, 10%, row);
    margin-bottom: 0.1em;
  }

  & div:not(.last) {
    border-bottom: solid 1px $color-title;
    border-width: thin;
  }
}

.rank {
  @include flex-box(15%, $full);

  border-right: solid 1px $color-title;
  border-width: thin;
}

.value {
  @include flex-box(85%, $full);
}
